<h1>Registration page help</h1>
<p>When filling out the registration form you will notice that each text box has an “*” next to it, this indicates a required field so you must put something in the box. Once you have filled in each box click the “create user” button.
If you have put something in each box but your user account is still not created check the top of the screen for an error message. It will look something like this:
</p>


<img src="/images/help pics/signupsheet.png" alt="image" width="521" height="162" />
<br /><br/>

<p>As you can see the error here is the password is too short. To solve this problem enter a new password at least 6 characters long.
  Other common errors are:
<ul>
    <li>Passwords don’t match. You must retype both passwords to ensure they are identical.</li>
    <li>Invalid email address. You cannot signup without a valid email address. eg. myemail@gmail.com</li>
</ul></p><br/>

<h1>My Account</h1>
<p>This is your user page with your personal information. All information can be updated by clicking the “Edit” link located under your email address.
</p>
<img src="/images/help pics/myacc.png" alt="image" width="343" height="212" />
<p>
All fields marked with a red * are required fields.
</p>