
<div id="home_title">
     Easy sports team management
</div>
<div  id="visitor_content" style="height: 350px;">
    <div id="registerBox" ><%= render "home/register" %></div>
</div>
<div class="clear"></div>
<script type="text/javascript">
	$(".textbox").addPlaceholder();
</script>
