
<div id="home_title">
     Easy sports team management
</div>
<div  id="visitor_content">
    <div id="registerBox" ><%= render "home/login" %></div>
</div>
<div class="clear"></div>
<script type="text/javascript">
	$(".textbox").addPlaceholder();
</script>
