<h1>About Club Chief</h1>

<div id=content>
<table>
  <tr>
    <td><h2> What do we do? </h2></td>
  </tr>
  <tr>
    <td>Our aim is to provide a system to assist the club managers and their team of volunteers that run their club.

We want to reduce the heavy reliance on club administrator work, give clubs an online
presence, and assist clubs with the facilitation of tournaments, events and practices.
This will allow the club administrators to spend more time on what is important – the
sporting and events themselves.<br>
Also by providing the club with an online service, clubs will become more accessible to
the public making finding members easier and members finding the club easier.<br><br>

<b>Goal:  To reduce the time and hassles for sports club administrators and give
  clubs an online presence. Make it easier for interested parties to join clubs.</b></td>
  </tr>
</table>
</div>