<a name="Top"></a>
<h1>ClubChief Help</h1>
<div class="content round">
  <p>
          <h4>Firstly, welcome to Club Chief we are glad to have you on board!</h4>
  </p>

  <p><h3>Table of Contents</h3>
  <ul>
    <li><a href="#Home">Home Page Help</a></li>
    <li><a href="#Registration">Registration Page Help</a></li>
    <li><a href="#Profile">Profile Page Help</a></li>
    <li><a href="#Clubs">Clubs Page Help</a></li>
    <li><a href="#Calendar">Calendar Page Help</a></li>
    <li><a href="#Competitions">Competitions Page Help</a></li>
    <li><a href="#Notifications">Notifications Page Help</a></li>
  </ul>
  </p>
  <br/>
  <a name="Home"></a>
  <h1>Homepage help: Signing up and logging in</h1>
    <p>Firstly welcome to Club Chief we are glad to have you on board.
        To create yourself an account you can either click Register in the top right menu
        bar or the big Sign up now button at the bottom of the screen.
    </p>

    <img src="/images/help pics 2/home2.png" alt="home2.png" width="500" height="371" />
  <br /><br />

   <h3>Registration page help</h3><a name="Registration"></a>
    <p>When filling out the registration form you will notice that each text box has an
        “*” next to it, this indicates a required field so you must put something
        in the box.
        Once you have filled in each box click the “create user” button.
    </p>


<p>If you have put something in each box but your user account is still not created
check the top of the screen for an error message. It will look something like this:</p>

<img src="/images/help pics/signupsheet.png" alt="signupsheet.png" width="521" height="162" />
  <br /><br />


<p>As you can see the error here is the password is too short. To solve this problem enter
a new password at least 6 characters long.<br>
Other common errors are:<ul>
  <li>Passwords don’t match. You must retype both passwords to ensure they are identical.</li>
  <li>Invalid email address. You cannot sign up without a valid email address. eg. myemail@gmail is invalid. Must be myemail@gmail.com</li>
</ul>
</p>


<h3>Signing in</h3>

<p>Click the “Sign in” link in the top right of your screen, then enter the email
  and password you used to create your account and click “sign in”
  If you cannot remember your password, click “Forgot my password” This will take
  you to account recovery page. If you enter the email you used to sign up and click
  recover you will be emailed a new password.
</p>

<img src="/images/help pics/login.png" alt="login.png" width="521" height="162" />
  <br /><br />







  <a name="Profile"></a>
  <h1>Profile Page</h1><a href="#Top" class="reset">top</a>
  <p>To edit your details or change your password, select View Profile from the
    account actions panel to the right of the screen. If the account options panel
    is not visible click the grey box to the top right of your screen that says Show
    Action Box.
  </p>
  <img src="/images/help pics 2/profile.png" alt="profile.png" width="175" height="300" />
  <img src="/images/help pics 2/sowactions.png" alt="sowactions.png" width="100" height="100" />
  <br /><br />


  <p>All your information can be updated by clicking the Edit Details link located at the bottom of the page.<br>
    You can also change your password from your profile page by clicking the Change Password link
    at the bottom of the page.
  </p>
  <br />


  <a name="Clubs"></a><a href="#Top" class="reset">top</a>
  <h1>Clubs</h1>
  <p>
    To register a new club hover your mouse over the Clubs link in the top menu;
    this will show you a list of options. Go down the list and click Register New Club.
  </p>

  <h3>Your Clubs</h3>
   <p>
    To view a list of all the clubs you are a member or join a new one of hover 
    your mouse over the Clubs link in the top menu; this will show you a list of options.
    Go down the list and click My Clubs. If you are looking to join a club click the
    “Join Clubs!” button.<br></br>
    If you are an admin you can edit club details with the manage link under the clubs name. 
    You can also delete the club with the delete option and assign club members administrator
    status with the Manage option.
   </p>

   <img src="/images/help pics 2/clubs.png" alt="clubs.png" width="521" height="230" />
   
   <h3>Adding Members</h3>
   <p>If you are a club administrator you may want to add members instead of having them
    join themselves, just of hover your mouse over the Clubs link in the top menu;
    this will show you a list of options. Go down the list and click Add Members.
</p>
    


  <a name="Calendar"></a>
  <h1>Calendar Page</h1><a href="#Top" class="reset">top</a>
  <p>The calendar page provides a means for scheduling club events in a fasion that
   allows club members to view and notify of attendance.</p>

  <h3>Adding an event</h3>
  <p>Hover your mouse over the Calendar link in the top menu, this will show you 
    a list of options. Go down the list and click Add Event.<br>
    Give your event a name and provide a message so your members know what’s going on.</p>

  <p>To add a start and end date:
  <ol>
    <li>Click the calendar icon</li>
    <img src="/images/help pics/addevent1.png" alt="addevent1.png" width="200" height="70"  />
    <li>Click a date on the calendar that pops up</li>
    <img src="/images/help pics/addevent2.png" alt="addevent1.png" width="200" height="234"  />
    <li>Adjust the time of the event at the bottom of the popup calendar</li>
   <img src="/images/help pics/addevent3.png" alt="addevent1.png" width="200" height="230"  />
</ol>
</p>




<h3>Adding a team:</h3>
<p>To add a team to the event select a team from the drop down menu. Only teams
  you have admin rights to will be available in the dropdown menu. The entire
  club will appear in the teams’ selection box if you have sufficient rights.
</p>

<img src="/images/help pics/addevent4.png" alt="addevent4.png" width="200" height="210" />
   <br /><br />

<h3>Viewing an event and setting attendance status</h3>
<p>Hover your mouse over the Calendar link in the top menu, this will show you a
  list of options. Go down the list and click Calendar. This will show you a
  calendar with all events relevant to you on it, to view a specific event just
  click on it.
</p>

<img src="/images/help pics 2/calendar.png" alt="calendar.png" width="460" height="370" />
<br>
<p>
  Clicking on an event shows the event details and a list of all members attending.
  If you are not attending click the Not Attending button next to your name. If you
  are a team admin you can set this status for any member. You can change back by
  clicking the button again.
</p>


<img src="/images/help pics 2/viewevent.png" alt="viewevent.png" width="465" height="370" />
<br></br>


<h3>Deleting an event</h3>
<p>Hover your mouse over the Calendar link in the top menu, this will show you a
  list of options. Go down the list and click Calendar.
  This will show you a calendar with all events relevant to you on it,
  click on the event you want to delete. Under the title of the event there is a
  link that says delete.
</p>  <br /><br />



   <a name="Competitions"></a><a href="#top" class="reset">top</a>
   <h1>Competitions</h1>

   <h3>Available Competitions</h3>
   <p>To view all the competitions your club is a part of, hover your mouse over the
      Competitions link in the top menu; this will show you a list of options.
      Go down the list and click Available.<br>
      Once the deadline to enter a competition has passed you can no longer join it
      and it cannot be viewed from this page.</br>
      Note: if your club is only involved with one competition then it is unlikely
      there will be anything here. This is for dividing up different competitions
      the club is a part of (eg. A grade, B grade, Regional Tournament etc.)
   </p>

   <h3>Applications</h3>
   <p>To view all the competitions you have entered in hover your mouse over the
     Competitions link in the top menu; this will show you a list of options.
     Go down the list and click Applications. This is a list of all your pending
     applications.
  </p>


  <h3>Creating competitions</h3>
  <p>To create a competition hover your mouse over the Competitions link in the
    top menu; this will show you a list of options. Go down the list and click Create.
    Give the competition a name and a deadline. The deadline is the last date a
    competition will be available for your members to join.<br>

  If you are the admin of multiple clubs you will have to select a club from the
  drop-down menu.
</p>

<img src="/images/help pics 2/createcomp.png" alt="createcomp.png" width="450" height="230" />
<br>

<h3>Managing competitions</h3>
<p>To manage a competition hover your mouse over the Competitions link in the 
  top menu; this will show you a list of options. Go down the list and click Manage. 
  This provides a list of all competitions you have admin rights to; now just click
  the Manage button next to the competition you want to manage.<br></br>
</p>
  <img src="/images/help pics 2/managecompetitions.png" alt="managecompetitions.png" width="450" height="230" />

  <p>Note: You can only manage a competition once it has met its deadline.<br></br>
  From here you will see a list of all teams that are a part of the competition.
  If there are no teams you can add a new one by entering a team name and
  clicking Create Team.
</p>

<img src="/images/help pics 2/managecompetitions2.png" alt="managecompetitions2.png" width="500" height="400" />

<h3>Managing competition teams</h3>
<p>This feature is used to put members who have applied for the competition into
  the teams that are a part of the competition. If a member did not apply for the
  competition in time but you still want them to in the competition you can add
  them yourself by clicking the Add New Applicants button.<br></br>
  Click the manage link for the team you want to manage.<br></br>
  From here you can remove add players to the team from the pool of
  unassigned players at the bottom of the page, remove players from the team,
  and give them administrator status.
</p>
<img src="/images/help pics 2/managecompetitions3.png" alt="managecompetitions3.png" width="500" height="400" />






  <a name="Notifications"></a>
  <h1>Notifications</h1><a href="#Top" class="reset">top</a>
  <p>To view all notifications relevant to you hover your mouse over the Calendar
    link in the top menu; this will show you a list of options. Go down the list
    and click Notifications.
</p>

<h3>Adding a notification</h3>
<p>To add a notification click the “Add Notification” button at the top of the
  notifications page.
</p>

<img src="/images/help pics/addnotif.png" alt="addnotif.png" width="177" height="100" />

<p>
On the create notifications page fill in the text area with the message you wish to
pass on to your team members, and then select the team.
Note:<ul>
  <li>Message must be more than 10 characters in length</li>
<li>A team must be selected</li>
<li>Message will not be emailed to team members unless “Email team members” is selected.</li>
</ul>
</p>


<h3>Removing/editing a notification</h3>
<p>  On the notifications page, each notification has an edit and a
      delete option next to it which can be used by clicking.<br>
      Similarly there is an edit option which you can click if you need to change
      any aspect of the notification.
  </p>
  <img src="/images/help pics 2/notifications.png" alt="notifications.png" width="550" height="200" />
</div>



