Hello<br />
<p>
A new club has been registered on the ClubChief system for you to review.
</p>
<p>
ClubChief ID: <%= @club.id %><br />
Name: <%= @club.name %><br />
Description: <%= @club.description %><br />
</p>
Thanks,
Club Chief Administration System
