<p><%= @user.first_name %>,</p>

<p>Here is your new password: <%= @user.password %></p>

<p>Log on using this email address as usual. If you have any other issues, please contact an admin.</p>

<p><%= link_to "http://" + base_url + login_path, "http://" + base_url + login_path %></p>

<br/>
Regards,<br/>
Elastic Monkey Team